-
  var registries = [
    {
      "name": "Honeyfund",
      "href": "http://www.honeyfund.com/wedding/adventuresofdizzy",
      "imgSrc": "honeyfund.png"
    }, {
      "name": "CB2",
      "href": "http://www.cb2.com/gift-registry/david-monson-and-liz-erickson/r5413777",
      "imgSrc": "cb2.png"
    }, {
      "name": "Target",
      "href": "http://www.target.com/gift-registry/giftgiver?registryId=gAxCm3Za2qzzmwrDDMFwrQ&registryType=WEDDING",
      "imgSrc": "target.png"
    }, {
      "name": "Amazon",
      "href": "http://www.amazon.com/gp/registry/wedding/3EZ33N5HOWS5U",
      "imgSrc": "amazon.png"
    }, 
  ];
- var imgPath = 'images/gifts/'
- var target = '_blank';

h2 Gift Registries
.row
  - for (var i = 0; i < registries.length; i++)
    .col-xs-6.col-sm-3
      a(href='#{registries[i].href}' target='#{target}')
        img.img-responsive(src="#{imgPath}#{registries[i].imgSrc}" width='150' height='150' alt='#{name}')
