-
  var people = [
    {
      "name": "Molly Weismantel",
      "role": "Maid of Honor",
      "imgSrc": "molly.jpg"
    }, {
      "name": "Andrew Monson",
      "role": "Distinguished Groomsman",
      "imgSrc": "andrew.jpg"
    }, {
      "name": "Tara Olson Medina",
      "role": "Bridesmaid",
      "imgSrc": "tara-olson.jpg"
    }, {
      "name": "Weston Thayer",
      "role": "Distinguished Groomsman",
      "imgSrc": "weston.jpg"
    }, {
      "name": "Tara Niebeling",
      "role": "Bridesmaid",
      "imgSrc": "tara-niebeling.jpg"
    }, {
      "name": "Matthew Barber",
      "role": "Distinguished Groomsman",
      "imgSrc": "matt-barber.jpg"
    }, {
      "name": "Brittany Chaffee",
      "role": "Bridesmaid",
      "imgSrc": "brittney.jpg"
    }, {
      "name": "Christopher Werth",
      "role": "Distinguished Groomsman",
      "imgSrc": "chris.jpg"
    }, {
      "name": "Kelly Petersen",
      "role": "Bridesmaid",
      "imgSrc": "kelly.jpg"
    }, {
      "name": "Jeff Blanchard",
      "role": "Distinguished Groomsman",
      "imgSrc": "jeff.jpg"
    }, {
      "name": "Sam Thayer",
      "role": "Personal Attendant",
      "imgSrc": "sam.jpg"
    }, {
      "name": "Nate Erickson",
      "role": "Co-Officiant",
      "imgSrc": "nate.jpg"
    }, {
      "name": "Anna-Lisa DeVaan",
      "role": "Personal Attendant",
      "imgSrc": "anna-lisa.jpg"
    }, {
      "name": "Matthew Erickson",
      "role": "Co-Officiant",
      "imgSrc": "matt-erickson.jpg"
    }
  ];
- var imgPath = 'images/'

h2 Meet the Wedding Party
- for (var i = 0; i < people.length; i++)
  - if ((i % 2) == 0) {
  //- open a row, but don't close it
  != '<div class="row">'
    .col-xs-6
      .row
        .col-sm-6.col-sm-push-6
          img.img-responsive(src='#{imgPath}#{people[i].imgSrc}' alt='')
        .col-sm-6.col-sm-pull-6
          h4 #{people[i].name}
          h5 #{people[i].role}
    - if (i == people.length - 1) {
      //- if this is last indext and is odd, close .row
    != '</div>'
    - }
  - } else { 
    .col-xs-6
      .row
        .col-sm-6
          img.img-responsive(src='#{imgPath}#{people[i].imgSrc}' alt='')
        .col-sm-6
          h4 #{people[i].name}
          h5 #{people[i].role}
  //- now close the div
  != '</div>'
  - }  
